.note.new{
    background-color: #67d7cc;
  
  }
  textarea{
    border: none;
    resize: none;
    background-color: #67d7cc; 
  }
  textarea:focus{
    outline: none;
  }
  .save{
    background-color: #e1e1e1;
    border: none;
    border-radius: 15px;
    padding: 5px 10px ;
    cursor: pointer;
  }
  .save:hover{
    background-color: #ededed;
  }
  .save:active{
    background-color: #e3e3e3;
  }